@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,img,hr{margin:0;padding:0;vertical-align:baseline;font-weight: lighter}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,td,var,i{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}legend{color:#000;}button{background:none;border:none;}ins{text-decoration:none;}blockquote:before,blockquote:after,q:before, q:after{content:"";}blockquote,q{quotes:"" "";}
hr{color:#f5f2ee;background-color:#f5f2ee;border:none;height:1px;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
table {border-collapse: collapse;border-spacing: 0;}
/* commom */
::-webkit-scrollbar {width: 10px;height:6px;}
::-webkit-scrollbar-track-piece{background-color: #eee;margin: -2px;}
::-webkit-scrollbar-thumb{background: #aaa;min-height: 150px;min-width: 150px;border-radius: 10px;}
::-webkit-scrollbar-thumb:vertical:hover{background: #555555}
::-webkit-scrollbar-thumb:horizontal:hover{background: #555555}
*{-webkit-font-smoothing: antialiased;}
html{overflow-x:hidden;overflow-y: auto;}
html,body{-webkit-text-size-adjust:none;-webkit-font-smoothing: antialiased;}
body {padding-top: 80px;font-size: 12px;font-family: "\5FAE\8F6F\96C5\9ED1",helvetica,arial,sans-serif;}
*html{background-image:url(about:blank);background-attachment:fixed;}/*解决IE6下滚动抖动的问题*/
button,a{cursor:pointer;}
input,button{outline:none;}
p{word-wrap:break-word;}
a{color:#666;text-decoration:none;outline: none;hide-focus: expression(this.hideFocus=true);}
a:hover{color:#ff3922;text-decoration:none;}
i{overflow:hidden;}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.clearfix{*zoom:1;}
.f14{font-size:14px;}.f16{font-size:16px;}.f18{font-size:18px;}
.cp{cursor:pointer;}.b{font-weight:700;}.w{white-space:nowrap;}.tal{text-align:left;}.tac{text-align:center;}
.tar{text-align:right;}.fr{float:right;display:inline;}.db img{display:block;}.yahei{font-family: "\5FAE\8F6F\96C5\9ED1",helvetica,arial,sans-serif;}
.fl{float:left;display:inline;}.pr{position:relative;}.pa{position:absolute;}.pf{position: fixed;}.oh{overflow:hidden;}.hide{display:none;}
::-moz-selection{background: #09f; color: #fff; text-shadow: none;}
::selection {background: #09f; color: #fff; text-shadow: none;}
::-webkit-input-placeholder{color:#999;}
::-moz-placeholder{color:#999;}
:-moz-placeholder{color:#999;}
::-ms-input-placeholder{color:#999;}
input:-moz-placeholder { color:#999; }
textarea:-moz-placeholder {color:#999;}


.wp{width: 1200px;margin: auto;}

@font-face {
    font-family: 'din';
    src: url('../images/new/din.eot');
    src: url('../images/new/din.eot?#iefix') format('embedded-opentype'),
    url('../images/new/din.woff2') format('woff2'),
    url('../images/new/din.woff') format('woff'),
    url('../images/new/din.ttf') format('truetype'),
    url('../images/new/din.svg#din') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.hm-header{position: fixed;top: 0;left: 0;width: 100%;height: 80px;background-color: #fff;z-index: 99;box-shadow: 0 3px 5px rgba(0,0,0,.05);}
.hm-header h1{padding-top: 20px;float: left;width: 110px;height: 40px;}
.hm-header h1 a{display: block;width: 170px;height: 100px;text-indent: -9999px;background: url(../img/header.png); background-size: 160px 70px; background-repeat: no-repeat;}
.hm-header h2{padding-top: 15px;margin-left: 430px; width: 100px;height: 40px;}
.hm-header h2 a{display: block;width: 1000px;height:50px;text-indent: -9999px;background: url(../img/top2.png); background-size: 750px 40px; background-repeat: no-repeat;}
.hm-header .hm-nav{margin-left: 50px;width: 300px;height: 80px;}
.hm-header .hm-nav>li{float: left;margin-left: 5px;}
.hm-header .hm-nav>li>a{display: block;padding: 0 20px;height: 77px;line-height: 76px;color: #333;font-size: 18px;border-top: 3px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent;}
.hm-header .hm-nav>li>a:hover{color: #ff361b;background-color: #fafafa;}
.hm-header .hm-nav>li.on>a{color: #ff361b;background-color: #fafafa;border-top: 3px solid #ff361b;border-left: 1px solid #f1f1f1;border-right: 1px solid #f1f1f1;}
.hm-header a i{position: relative;top: -3px;margin-left: 5px;display: inline-block;width: 12px;height: 7px;background: url(../img/index-s.png) no-repeat 0 0;-webkit-transition: -webkit-transform .3s linear;-moz-transition: -moz-transform .3s linear;-o-transition: -o-transform .3s linear;-ms-transition: -ms-transform .3s linear;transition: transform .3s linear;}
.hm-header a:hover i{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}

.match{padding-left: 10px;padding-top: 10px;}
.match a{margin-top: 10px;margin-left: 10px;display: inline-block;width: 78px;height: 28px;line-height: 28px;text-align: center;color: #666;border: 1px solid #eaeaea;border-radius: 2px;transition: background-color,border .3s ease-out;}
.match a:hover{color: #fff;background-color: #ff3922;border: 1px solid #ff3922;}


.hm-header .hm-search{padding-top: 20px;width: 180px;height: 40px;}
.hm-header .hm-search form{width: 180px;height: 40px;background: url(../img//index-s.png) no-repeat -320px 0;}
.hm-header .hm-search input{margin-left: 20px;padding: 10px 0;float: left;display: inline;width: 120px;height: 20px;line-height: 20px;font-size: 14px;background: transparent;border: none;}
.hm-header .hm-search button{float: right;width: 40px;height: 40px;background: transparent;}
.hm-header .hm-search form.on{background: url(../img/index-s.png) no-repeat -320px -511px;}

.hm-header .hm-user{margin-left: 5px;height: 24px;line-height: 24px;}
.hm-header .hm-user>li{float: left;margin:0 2px;padding: 27px 15px 0;display: inline;height: 53px;font-size: 14px;}
.hm-header .hm-user>li.cur{background-color: #fafafa;}
.hm-header .hm-user>li:nth-child(2){margin: 0;}
.hm-header .hm-user>li>a{display: block;}
.hm-header .hm-user>li>a>img{display: inline-block;vertical-align: top;width: 24px;height: 24px;}
.hm-header .hm-user>li>a>span{margin-left: 5px;display: inline-block;max-width: 160px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.hm-header .hm-user li a i{top: -9px;background-position: -67px 0;width: 9px;height: 5px;}

.hm-header .hm-live-btn{margin-left: 25px;margin-top: 24px;padding-left: 35px;width: 85px;height: 32px;line-height: 32px;color: #fff;font-size: 16px;background: url(../img/list-pic-bg.png) no-repeat -380px -43px;}


.dropbox{left: 10px;top: 80px;width: 310px;height: 280px;background-color: #fff;box-shadow: 0 0 8px 8px rgba(0,0,0,.15);border-radius: 3px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;-webkit-transform: translateY(-5%);-moz-transform: translateY(-5%);-ms-transform: translateY(-5%);transform: translateY(-5%);opacity: 0;z-index: 999;visibility: hidden;}
.dropbox:after{position: absolute;left: 20px;top: -3px;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 3px solid #fff;content: ' ';}
.dropbox h3{margin-top: 20px;padding-left: 20px;color: #333;font-size: 16px;}
.dropbox .more{left: 0;bottom: 0;width: 100%;height: 50px;line-height: 50px;text-align: center;color: #ff3922;font-size: 14px;background-color: #fafafa;border-top: 1px solid #ececec;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
.dropbox .more:hover{background-color: #f5f5f5;border-color: #e9e9e9;}

/*弹出层小三角*/
.gift-div-bottom{position:relative;}
.gift-div-bottom:after{position: absolute;left: 546px;top: 160px;width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 4px solid #fff;content: ' ';}

.hm-header .user{width: 140px;height: 40px;left: 0;} /* change here 197*/
.hm-header .user:after{left: 25px;}
.hm-header .zb-vip{height: 240px;}

.hm-header .user .user-tool{width: 100%;line-height: 40px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
.hm-header .user .user-tool a{position: relative;display: inline-block;padding-left: 40px;width:100px;height: 40px;color: #666;background: url() no-repeat;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
.hm-header .user .user-tool a:first-child{border-top-left-radius: 3px;border-top-right-radius: 3px;}
.hm-header .user .user-tool a:last-child{border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
.hm-header .user .user-tool a .msgtips{right: 10px;top: 12px;}
.hm-header .user .user-tool a:hover{background-color: #f2f2f2;}
.hm-header .user .user-tool a.u1{background-position: 10px 9px;}
.hm-header .user .user-tool a.u2{background-position: 10px -32px;}
.hm-header .user .user-tool a.u3{background-position: 10px -77px;}
.hm-header .user .user-tool a.u4{background-position: 10px -125px;}
.hm-header .user .user-tool a.u5{background-position: 10px -168px;}
.hm-header .user .user-tool a.u6{background-position: 8px -215px;}
.hm-header .user .user-tool a.u1:hover{background-position: -130px 9px;}
.hm-header .user .user-tool a.u2:hover{background-position: -130px -32px;}
.hm-header .user .user-tool a.u3:hover{background-position: -130px -77px;}
.hm-header .user .user-tool a.u4:hover{background-position: -130px -125px;}
.hm-header .user .user-tool a.u5:hover{background-position: -130px -168px;}
.hm-header .user .user-tool a.u6:hover{background-position: -130px -215px;}

.rss{width: 330px;padding-bottom: 50px;height: auto;left: auto;right: 0;}
.rss:after{left: auto;right: 38px;}
.hm-rss{text-align: left;}
.hm-rss a{display: block;padding: 20px;height: 25px;overflow: hidden;line-height: 22px;color: #333;border-bottom: 1px solid #f0f0f0;transition: background-color .3s ease-in-out;}
.hm-rss a:hover{background-color: #f0f0f0;border-bottom: 1px solid #eaeaea;}
.hm-rss a:first-child{border-top-left-radius: 3px;border-top-right-radius: 3px;}
.hm-rss a img{float: left;margin-right: 10px;display: inline;width: 40px;height: 40px;}
.hm-rss a h4{margin-top: -10px;font-size: 14px;height: 22px;line-height: 22px;overflow: hidden;display: inline-block;white-space: nowrap;text-overflow: ellipsis;width: 235px;}
.hm-rss a p{color: #666;font-size: 12px;margin-top: -6px;}
.hm-rss a p .state{float: right;}
.hm-rss a p .on{color: #ff3922;}
.hm-rss a p .off{color: #999;}
.hm-rss a p span{display: inline-block;max-width: 78px;height: 22px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.hm-rss a p .username{margin-right: 5px;padding-left: 22px;background: url(../img/index-s.png) no-repeat 0 -25px;}
.hm-rss a p .view{padding-left: 22px;background: url(../img/index-s.png) no-repeat 0 -62px;}
.hm-rss a:hover h4{color: #ff3922;}
.no-rss{padding: 10px;color: #666;text-align: center;line-height: 26px;font-size: 14px;}

.hm-no-login{margin-top: 27px;margin-right: -5px;padding-left: 20px;height: 24px;line-height: 24px;font-size: 14px;}
.hm-no-login a{margin: 0 10px;color: #666;}

.msgtips{position: absolute;top: 12px;padding:0 6px;display: inline-block;height: 16px;color: #fff;font:normal normal 12px/16px Arial, Helvetica;background-color: #ff3922;border-radius: 8px;z-index: 99;}


.show{opacity: 1;-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);visibility: visible;}

/* 登录框 */
.ibox{position:fixed;top:50%;left:50%;}

/* ie6 tanchuang */
* html .ibox /* IE6 */  {
  _position:absolute;
  _bottom:auto;top:expression(eval(document.documentElement.scrollTop) + document.documentElement.clientHeight/2 - this.offsetHeight/2);
  _margin-top:0px !important;
}

.ibox .close{
  position: absolute;
  right:4px;top:4px;
  width:24px;height:24px;
  background:url(../i/close.png) no-repeat;
  z-index:2;
}
.ibox .close:hover{background-position:0 -24px;}

.loginIbox{
  margin:-205px 0 0 -333px;
  width:666px;
  border:1px solid #245a83;
  background:#fff;
  z-index:100;
}

.loginIbox .login-hd{
  position:relative;
  height:78px;
  background:url(../img/log_reg.jpg) no-repeat;
}
.loginIbox .login-hd .ibox-close{
  position:absolute;
  top:15px;right:13px;
  width:17px;height:15px;
}

.loginIbox .login-hd .qn-icon{
  position:absolute;
  top:-99px;left:30px;
  width:138px;height:99px;
  background:url(../i/qn-icon.png) no-repeat;
}

.loginIbox .login-bd{
  position:relative;
  padding:24px 32px 40px;
}

.loginIbox .login-bd .login-bd-left{
  float:left;
  padding-right:39px;
  width:267px;
  border-right:1px solid #e9e9e9;
}
.loginIbox .login-bd .row{
  position:relative;
  margin-bottom:10px;
  height:42px;
  font-size:12px;color:#8a8a8a;
  z-index:0;
}
.loginIbox .login-bd .z10{
  z-index:10;
}

.loginIbox .login-bd .row .input{
  padding:0 10px;
  width:245px;height:40px;
  line-height:40px\9;
  border:1px solid #ccc;
  box-shadow:none;
}
.loginIbox .login-bd .row .label{
  position:absolute;
  left:11px;top:0;
  height:42px;line-height:42px;
  cursor:text;
}

.loginIbox .login-bd .jyyz{margin-bottom:17px;}
.loginIbox .login-bd .label-row{
  margin-bottom:14px;
  height:18px;line-height:18px;
  font-size:0;
  position:relative;
  z-index:0;
}
.loginIbox .login-bd .label-row .checkbox{
  margin-right:5px;
  width:18px;height:18px;
  background:url(../img/login-checkbox.png) no-repeat;
  cursor:pointer;
}
.loginIbox .login-bd .label-row .checkboxed{
  background-position:-18px 0;
}
.loginIbox .login-bd .label-row span,
.loginIbox .login-bd .label-row .fr{
  font-size:12px;
}
.loginIbox .login-bd .label-row .fr{
  color:#4d8cf5;
}
.loginIbox .login-bd .label-row .fr:hover{
  color:#2ba3e5;
}
.loginIbox .login-bd .label-row .fr:active{
  color:#1189cb;
}
.loginIbox .login-bd .login-btn{
  display:block;
  width:100%;
  height:35px;line-height:35px;
  font-size:14px;color:#fff;
  text-align:center;
}

.loginIbox .login-bd .login-bd-right{
  float:right;
  width:255px;
}
.loginIbox .login-bd .login-bd-right .sub-hd{
  margin-bottom:12px;
  height:18px;line-height:18px;
  font-size:14px;color:#909090;
  text-align:center;
}
.loginIbox .login-bd .login-bd-right .sub-bd{
  padding-bottom:13px;
  border-bottom:1px solid #e9e9e9;
}
.loginIbox .login-bd .login-bd-right ul{
  margin-right:-40px;
  *zoom:1;
}

.loginIbox .login-bd .login-bd-right li{
  float:left;
  margin:0 33px 13px 0;
  width:63px;height:63px;
}
.loginIbox .login-bd .login-bd-right li a{
  display:block;
  width:100%;height:100%;
  background:url(../i/new-login-logo.png) no-repeat;
}
.loginIbox .login-bd .login-bd-right li .bf{
  background-position:0 0;
}
.loginIbox .login-bd .login-bd-right li .qq{
  background-position:-63px 0;
}
.loginIbox .login-bd .login-bd-right li .bd{
  background-position:-126px 0;
}

.loginIbox .login-bd .login-bd-right li .bf:hover{
  background-position:0 -63px;
}
.loginIbox .login-bd .login-bd-right li .qq:hover{
  background-position:-63px -63px;
}
.loginIbox .login-bd .login-bd-right li .bd:hover{
  background-position:-126px -63px;
}
.loginIbox .login-bd-right .textC{
  height:40px;line-height:40px;
}
.loginIbox .login-bd-right .textC .a{
  font-size:12px;
  color:#4d8cf5;
}
.loginIbox .login-bd-right .textC .a:hover{
  color:#2ba3e5;
  text-decoration:underline;
}
.loginIbox .login-bd-right .textC .a:active{
  color:#1189cb;
}

.loginIbox .login-bd .title-area{
  position:absolute;
  top:24px;left:310px;
  padding:0 10px;
  height:42px;line-height:21px;
  background:#b8b8b8;
  font-size:12px;color:#fff;
  z-index:10;
}
.loginIbox .login-bd .title-area .arrow{
  position:absolute;
  top:50%;left:-12px;
  margin-top:-6px;
  width:0;height:0;
  border-width:6px;
  border-color:transparent #b8b8b8 transparent transparent;
  border-style:dashed solid dashed dashed;
}

/* 登录框End */

/* 注册 */
.registerIbox .login-hd{
  height:78px;
  background:url(../img/log_reg.jpg) no-repeat;
  background-position:0 -78px;
}
.registerIbox .login-hd .qn-icon{
  position:absolute;
  top:-91px;left:20px;
  width:125px;height:91px;
  background:url(../i/qn-icon-1.png) no-repeat;
}

.registerIbox .register-bd-left .register-nav{
  margin:0 0 10px 1px;
  width:266px;height:48px;
  background:url(../i/new-register-nav.png) no-repeat;
}
.registerIbox .register-bd-left .register-nav li{
  position:relative;
  float:left;
  width:133px;height:48px;
  line-height:48px;
  text-align:center;
}
.registerIbox .register-bd-left .register-nav a{
  display:block;
  font-size:12px;color:#535353;
}
.registerIbox .register-bd-left .register-nav .active{
  height:47px;
  background:url(../i/new-register-li.png) no-repeat;
}
.registerIbox .register-bd-left .register-nav .active a{
  color:#0754c1;
}

.registerIbox .register-bd-left .register-nav .new-icon{
  position:absolute;
  top:5px;right:5px;
  width:26px;height:16px;
  background:url(../i/new-new-icon.png) no-repeat;
}

.registerIbox .register-bd-left .select{
  position:relative;
  padding: 0 40px 0 10px;
  width: 215px;height: 40px;
  line-height:40px;
  border: 1px solid #ccc;
  background:#fff;
  color:#000;
  cursor:pointer;
  z-index:1;
}
.registerIbox .register-bd-left .select .arrow{
  position:absolute;
  top:0;right:0;
  width:40px;height:40px;
  background:url(../i/new-select-arrow.png) no-repeat;
  cursor:pointer;
}
.registerIbox .register-bd-left .option{
  display:none;
  position:absolute;
  top:41px;left:-1px;
  width:267px;height:246px;
  overflow-y:auto;
  overflow-x:hidden;
}
.registerIbox .register-bd-left .option li{
  padding-left:10px;
  width:255px;
  height:40px;line-height:40px;
  border:1px solid #ccc;
  background:#fff;
  border-top:none;
}
.registerIbox .register-bd-left .option a{
  display:block;
  height:100%;width:100%;
  color:#8a8a8a;
}
.registerIbox .register-bd-left .option a:hover{
  color:#4d8cf5;
}

.registerIbox .register-bd-left .small-input{
  float:left;
  width:58px;height:40px;
  line-height:40px;
  border:1px solid #ccc;
  background:#fff;
  color:#000;
  text-align:center;
  cursor:default;
}
.registerIbox .register-bd-left .input-area{
  float:right;
  width:200px;
  position:relative;
}
.registerIbox .register-bd-left .input-area .input{
  width:178px;
}
.registerIbox .register-bd-left .mid-input{
  position:relative;
  float:left;
  width:148px;
}
.registerIbox .register-bd-left .mid-input .input{
  width:126px;
}
.registerIbox .register-bd-left .yzm{
  float:right;
  width:110px;height:42px;
  line-height:42px;
  background:url(../i/new-register-icon.png) no-repeat;
  font-size:12px;color:#000;
  text-align:center;
}

/* 注册End */

/* 按钮 */
.orange-btn{
  background:#f48533 !important;
  color:#fff !important;
}
.orange-btn:hover{
  background:#f8964e !important;
  color:#fff !important;
}
.orange-btn:active{
  background:#e77b2b !important;
  color:#fff !important;
}

.blue-zs-btn{
  background:#1398e2 !important;
  color:#fff !important;
}
.blue-zs-btn:hover{
  background:#42ade8 !important;
  color:#fff !important;
}
.blue-zs-btn:active{
  background:#0f7ab5 !important;
  color:#fff !important;
}

.btn-gray{background:#537697 !important;color:#fff !important;}
.btn-gray:hover{background:#476077 !important;color:#fff !important;}
.btn-gray:active{background:#334c63 !important;color:#fff !important;}

.gray-qx-btn{
  background:#666 !important;
  color:#fff !important;
}
.gray-qx-btn:hover{
  background:#757575 !important;
  color:#fff !important;
}
.gray-qx-btn:active{
  background:#5a5a5a !important;
  color:#fff !important;
}

button{border:none;}

.big-bule-btn{
  display:inline-block;*display:inline;*zoom:1;
  width:186px;height:37px;line-height:37px;
  background:url(../i/big-bule-btn.png) 0 0 no-repeat;
  font-size:14px;color:#fff;
  font-family:microsoft yahei;
  text-align:center;
}
.big-bule-btn:hover{background-position:0 -37px;text-decoration:none;color:#fff;}
.big-bule-btn:active{background-position:0 -74px;}

.big-bule-btn2{
  display:inline-block;*display:inline;*zoom:1;
  width:260px;height:37px;line-height:37px;
  background:url(../i/big-bule-btn2.png) 0 0 no-repeat;
  font-size:14px;color:#fff;
  font-family:microsoft yahei;
  text-align:center;
}
.big-bule-btn2:hover{background-position:0 -37px;text-decoration:none;color:#fff;}
.big-bule-btn2:active{background-position:0 -74px;}


.bank-btn{
  display:inline-block;*display:inline;*zoom:1;
  width:180px;height:37px;line-height:37px;
  background:url(../i/bank-btn.png) 0 0 no-repeat;
  font-size:16px;color:#fff;
  font-family:microsoft yahei;
  text-align:center;
}
.bank-btn:hover{background-position:0 -37px;text-decoration:none;color:#fff;}
.bank-btn:active{background-position:0 -74px;}

.best-small-bule-btn{
  display:inline-block;*display:inline;*zoom:1;
  width:99px;height:30px;line-height:30px;
  background:url(../i/best-small-bule-btn.png) 0 0 no-repeat;
  font-size:16px;color:#fff;
  font-family:microsoft yahei;
  text-align:center;
}
.best-small-bule-btn:hover{background-position:0 -30px;text-decoration:none;color:#fff;}
.best-small-bule-btn:active{background-position:0 -60px;}

.green-btn{
  display:inline-block;*display:inline;*zoom:1;
  width:102px;height:33px;line-height:33px;
  background:url(../i/green-btn.png) 0 0 no-repeat;
  font-size:14px;color:#fff;
  font-family:microsoft yahei;
  text-align:center;
}
.green-btn:hover{background-position:0 -33px;color:#fff;}
.green-btn:active{background-position:0 -66px;}

.red-brown-btn{
  background:#892500 !important;
  color:#fff !important;
}
.red-brown-btn:hover{
  background:#942d07 !important;
  color:#fff !important;
}
.red-brown-btn:active{
  background:#822503 !important;
  color:#fff !important;
}

/* 土黄色 */
.naturals-btn{
  background:#c3ab25 !important;
  color:#fff !important;
}
.naturals-btn:hover{
  background:#ccb42c !important;
  color:#fff !important;
}
.naturals-btn:active{
  background:#bba422 !important;
  color:#fff !important;
}

/* 新春表白End */
.r-com-btn{display:inline-block;color:#fff;background:#f70;border-radius:4px;text-align:center}.r-com-btn:hover{background:#f14700}


input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
